.search {
  background-color: #fff;
  width: 40%;
  height: 342px;
  color: #000;
  /* border-radius: 8px; */
  position: relative;
  top: 70px;
  left: 30%;
}

.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #1cbcea;
  padding: 16px;
  z-index: 1;
  color: #000;
  font-size: 1.2rem;
}

.search-group input:focus {
  outline: 1px solid #1cbcea;
}

ion-icon {
  z-index: 2;
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #000;
  font-size: 28px;
}

ion-icon:hover {
  color: #0067bb;
}
ion-icon:active {
  color: #004680;
}

.search-btn,
.reset {
  color: #000;
}
.group-button {
  width: 95%;
  height: 18%;
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
}
.reset,
.search-btn {
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.reset {
  border: none;
  background-color: #fff;
}

.reset:hover {
  background-color: #ccc;
}

.search-btn {
  border: none;
  background-color: #1cbcea;
  color: #fff;
}
.search-btn:hover {
  background-color: #44d2fa;
}
